<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>
</head>
<body>
    <h1>Edit Your Post</h1>
            <div class="posts">
            <h3 class="user">@<%= post.username %></h3>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">     
            <textarea name="content" rows="10" cols="35"  ><%=post.content%></textarea>
            <button>Submit New Post</button>
        </div>
    </form>
</body>
</html>